body{
    font-family: 'Lato', sans-serif;
}

input{
    font-family: 'Lato', sans-serif;/*TODO*/
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}
/*----------formulario----------*/

/*animación boton*/
.button-container-2 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
}
.button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #768886;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
/*animación boton*/
/*----------fin formulario----------*/

/*----------vistaOpcionesAdministrador-------------------*/
.cardAdministrador {
    width: 10.4rem;
    height: 16rem;
    margin:0.5rem 0 0.5rem 0.1rem  ;
    margin-left:0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.cardAdministrador img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
}
.cardAdministrador h5 {
    position: absolute;
    cursor: pointer;
    inset: auto auto 10px 8px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.cardAdministrador p, .cardAdministrador a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}
.cardAdministrador p {
    inset: auto auto 80px 30px;
}
.cardAdministrador a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}
.cardAdministrador:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
}
.cardAdministrador:hover p, .card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}
.cardAdministrador:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}
.material-symbols-outlined {
    vertical-align: middle;
}
/*----------Fin vistaOpcionesAdministrador-------------------*/

/*----------barra de navegación----------*/
.movNav{
   height: 2rem;
   width: 100%;
}
.logoP {
    height: 3rem;
    width: 4rem;
}
.logoG {
    height:3rem;
    width: 10rem;
}
.cabecera {
    background-color: white;
}
.nav {
    z-index: 1;
    background-color: #768886;
}
.margen {
    top: 0vw;
    min-height: 10rem;
    background-color: white;
}
/*----------Fin barra de navegación----------*/

/*----------Contenido central----------*/
.contenedor{
    position: relative;
    min-height: 100vh;
    margin:0 1rem 0 1rem
}
contenedor-wrap{
    padding-bottom: 2.5rem;
}
/*----------Contenido central----------*/
.imagenLateral{
   width:300px; 
   height:400px;
}
/*----------footer----------*/
footer {
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: #768886;
}
/*----------Fin footer----------*/




/*Iphone 12/13 ProMax (428px V)*/
@media (min-width: 428px) {
    .cardAdministrador {
        width: 12rem;
        height: 20rem;
        margin:0.5rem 0 0.5rem 0.1rem  ;
        margin-left:0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: #f0f0f0;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }

}

/*Iphone 12/13 mini (812px Horizontal)*/
@media (min-width: 812px) and (orientation: landscape){
    .logoP {
        height: 2rem;
        width: 3rem;
    }
    .cardAdministrador {
        width: 11rem;
        height: 12rem;
    }

}

/*Ipad 11 inch (834px Horizontal)*/
@media (min-width: 834px) {

    /*----------vistaOpcionesAdministrador-------------------*/
    .cardAdministrador {
        width: 16rem;
        height: 32rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: #f0f0f0;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }
    /*----------Fin vistaOpcionesAdministrador-------------------*/
    /*----------zoom nav-------------------*/
    /*  .zoom{
  
      }
      .zoom > li a {
          display: block;
          margin: 2px;
          position: relative;
          transition: all 0.3s ease 0s;
      }
  
      .zoom > li a:hover {
          transition: all 0.3s ease 0s;
          transform: scale(1.4);
          background-color: #768886;
          z-index: 1;
      }
      .zoom li {
          padding-right: 1rem;
          padding-left: 1rem;
          font-size: 1.5rem;
      }
      ----------Fin zoom nav-------------------*/
}





/*Iphone 12/13 proMax (428px V)
@media (min-width: 428px) {
    .cardAdministrador {
        width: 12rem;
        height: 20rem;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: #f0f0f0;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }
    .centradoContenido{
        min-height: 78vh;
    }
}
*/













/*-------------------------------------------------*/

@media (min-width: 834px){
    /*----------zoom nav-------------------
    .zoom{

    }
    .zoom > li a {
        display: block;
        margin: 2px;
        position: relative;
        transition: all 0.3s ease 0s;
    }

    .zoom > li a:hover {
        transition: all 0.3s ease 0s;
        transform: scale(1.4);
        background-color: #768886;
        z-index: 1;
    }*/

    /*----------zoom nav-------------------
    .zoom li {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.2rem;
    }*/
    /*----------Fin zoom nav-------------------
    .logoP {
        height: 2rem;
        width: 3rem;
    }*/
    /*----------formularios----------
    .cardLogin{
        margin-top: 3rem;
    }
    img{
        height: 25rem;
    }*/
    /*----------Fin formularios----------*/
    /*----------vistaOpcionesAdministrador-------------------*/
    /* .cardAdministrador {
         width: 10rem;
         height: 14rem;
         border-radius: 10px;
         overflow: hidden;
         cursor: pointer;
         position: relative;
         color: #f0f0f0;
         box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
     }
     ----------Fin vistaOpcionesAdministrador-------------------*/

    /*probando div central
    .centrado{
        justify-content:space-around;
        align-items: center;
        min-height: 40vh;
    }*/
    /*probando div central*/

}

@media (min-width: 992px) { /*992px*/


    /*----------vistaOpcionesAdministrador-------------------*/
    .cardAdministrador {
        width: 20rem;/*-4*/
        height: 32rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: #f0f0f0;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }
    /*----------Fin vistaOpcionesAdministrador-------------------*/
}


